<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="sopra" level="DEBUG" />	
	<logger name="org.springframework" level="WARN" />

	<root level="error">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>